$numbBtnsColor: #ccffff;
$sideBtnsColor: #ff9999;
$inputTextColor: #000000;
$buttonTextColor: #1a1a00 ;
$borderColor: #29293d;
$inputBgColor: #ffff;

//light, dark mode
$toggleLightBg: #f2f2f2;
$toggleDarkBg: #000;
$toggleInputTxt: #ffffff;
$toggleSideBtns: #80bfff;
$toggleBtns: #cccccc;